doctype html
html

  head

    title YGM - Official Online Store
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" type="text/css" href="/assets/css/index.css")

  body

    section#header
      .row
        .column.small-8.medium-4.large-5.show-for-medium-up
          .menu.text-left
            a(href="#")
              span.fa.fa-facebook-square(style="margin-right: 10px")
              | / YGM.vn
        .column.small-4.medium-4.large-2.small-text-left.medium-text-center
            a.logo(href="/")
              img(src="/assets/img/logo.svg")
        .column.small-8.medium-4.large-5
          .menu.text-right
            a(href="#").view-cart Giỏ hàng
              span.counter 0
            a(href="#")
              span.fa.fa-bars

    section#content

      #hero.owl-carousel
        .slide
          a(href="#")
            img.image(src="/assets/img/slides/5.jpg")
            .info
              .title June Sexy Babe
              .description Công thức mix đồ nhấn nhá riêng biệt phá đảo mùa hè 2017 cho cô nàng gợi cảm.
        .slide
          a(href="#")
            img.image(src="/assets/img/slides/6.jpg")
            .info
              .title Pure Feels
              .description Cho chàng thấy bạn mong manh đến nhường nào.
        .slide
          a(href="#")
            img.image(src="/assets/img/slides/7.jpg")
            .info
              .title Girl Gone Wild
              .description Tạm rời xa phong cách dịu dàng, trở thành nữ thần ngọt ngào &amp; nóng bỏng khó cưỡng.
      
      #featured.block
        .row
          .column
            .block-title Sản phẩm&nbsp;
              br.show-for-small-only
              | nổi bật
            ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
              - for (i = 0; i < 2; i ++)
                li
                  .product.on-sale
                    a(href="/detail.html")
                      .image
                        img.default(src="/assets/img/products/1.jpg")
                        img.hover(src="/assets/img/products/2.jpg")
                        .badge.sale 15%
                          small off
                      .name Set đồ lót ren không gọng mút
                      .price
                        span.old 350.000đ
                        span.current 299.000đ
                    .actions
                      a.quick-view(href="#")
                        span.fa.fa-arrows-alt
                      a.add-to-cart(href="#")
                        span.fa.fa-shopping-cart
                li
                  .product
                    a(href="/detail.html")
                      .image
                        img.default(src="/assets/img/products/2.jpg")
                        img.hover(src="/assets/img/products/3.jpg")
                      .name Set đồ lót ren không gọng mút
                      .price
                        span.current 299.000đ
                    .actions
                      a.quick-view(href="#")
                        span.fa.fa-arrows-alt
                      a.add-to-cart(href="#")
                        span.fa.fa-shopping-cart
                li
                  .product.on-sale
                    a(href="/detail.html")
                      .image
                        img.default(src="/assets/img/products/3.jpg")
                        img.hover(src="/assets/img/products/1.jpg")
                        .badge.sale 15%
                          small off
                      .name Set đồ lót ren không gọng mút
                      .price
                        span.old 350.000đ
                        span.current 299.000đ
                    .actions
                      a.quick-view(href="#")
                        span.fa.fa-arrows-alt
                      a.add-to-cart(href="#")
                        span.fa.fa-shopping-cart
            .text-center
              a.ghost-button(href="#") Xem thêm sản phẩm
                span.fa.fa-angle-right(style="margin-left: 10px")

      #shop.block
        .row
          .column.small-11.medium-6.small-centered
            .block-title Nóng bỏng đến khó cưỡng.
            .text-center
              p Cùng YGM refresh tủ đồ của bạn bằng những trang phục &amp; phụ kiện nóng bỏng và hấp dẫn nhất ngay hôm nay.
              a.ghost-button.actived(href="#")
                span.fa.fa-shopping-basket(style="margin-right: 10px")
                | Mua sắm ngay

    section#footer
      .menu-bar
        .row
          .column.medium-6.large-4
            .block-title Liên hệ
            .block-content
              ul.menu
                li
                  strong Số điện thoại:&nbsp;
                  a(href="tel:+841255239480") 0125.5239.480
                li
                  strong Địa chỉ:&nbsp;
                  | 181 Xã Đàn 2, Nam Đồng, Đống Đa, Hà Nội
                li
                  strong Email:&nbsp;
                  a(href="mailto:gia@coa.vn") gia@coa.vn
          .column.medium-6.large-4
            .block-title Thông tin thêm
            .block-content
              ul.menu
                li
                  a(href="#") Giới thiệu
                li
                  a(href="#") Hướng dẫn mua hàng
                li
                  a(href="#") Hướng dẫn thanh toán
                li
                  a(href="#") Điều khoản
                li
                  a(href="#") Chính sách đổi trả
                li
                  a(href="#") Sơ đồ trang
          .column.medium-6.large-4
            .block-title YGM Facebook
            .block-content
              iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
      .copyright-bar Bản quyền thuộc về YGM. Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch &amp; Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015

    #toolbar
      a.to-top(href="#")
        span.fa.fa-arrow-up
      a.view-cart(href="#")
        span.fa.fa-shopping-cart
        span.counter 0
        span.spinner
          i.fa.fa-refresh.fa-spin.fa-fw
      a.menu(href="#")
        span.fa.fa-bars

    script(src="/assets/bower/jquery/dist/jquery.min.js")
    script(src="/assets/bower/fastclick/lib/fastclick.js")
    script(src="/assets/bower/owl.carousel/dist/owl.carousel.min.js")
    script(src="/assets/js/index.js")
