{
  "name": "you-got-me",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/css/index.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/js/index.coffee",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-coffee-script\":{\"enabled\":true,\"iced\":false,\"bare\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/css",
      "assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/bower/foundation/scss/foundation.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_grid.scss",
        "assets/bower/foundation/scss/foundation/components/_accordion.scss",
        "assets/bower/foundation/scss/foundation/components/_alert-boxes.scss",
        "assets/bower/foundation/scss/foundation/components/_block-grid.scss",
        "assets/bower/foundation/scss/foundation/components/_breadcrumbs.scss",
        "assets/bower/foundation/scss/foundation/components/_button-groups.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_clearing.scss",
        "assets/bower/foundation/scss/foundation/components/_dropdown.scss",
        "assets/bower/foundation/scss/foundation/components/_dropdown-buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_flex-video.scss",
        "assets/bower/foundation/scss/foundation/components/_forms.scss",
        "assets/bower/foundation/scss/foundation/components/_icon-bar.scss",
        "assets/bower/foundation/scss/foundation/components/_inline-lists.scss",
        "assets/bower/foundation/scss/foundation/components/_joyride.scss",
        "assets/bower/foundation/scss/foundation/components/_keystrokes.scss",
        "assets/bower/foundation/scss/foundation/components/_labels.scss",
        "assets/bower/foundation/scss/foundation/components/_magellan.scss",
        "assets/bower/foundation/scss/foundation/components/_orbit.scss",
        "assets/bower/foundation/scss/foundation/components/_pagination.scss",
        "assets/bower/foundation/scss/foundation/components/_panels.scss",
        "assets/bower/foundation/scss/foundation/components/_pricing-tables.scss",
        "assets/bower/foundation/scss/foundation/components/_progress-bars.scss",
        "assets/bower/foundation/scss/foundation/components/_range-slider.scss",
        "assets/bower/foundation/scss/foundation/components/_reveal.scss",
        "assets/bower/foundation/scss/foundation/components/_side-nav.scss",
        "assets/bower/foundation/scss/foundation/components/_split-buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_sub-nav.scss",
        "assets/bower/foundation/scss/foundation/components/_switches.scss",
        "assets/bower/foundation/scss/foundation/components/_tables.scss",
        "assets/bower/foundation/scss/foundation/components/_tabs.scss",
        "assets/bower/foundation/scss/foundation/components/_thumbs.scss",
        "assets/bower/foundation/scss/foundation/components/_tooltips.scss",
        "assets/bower/foundation/scss/foundation/components/_top-bar.scss",
        "assets/bower/foundation/scss/foundation/components/_type.scss",
        "assets/bower/foundation/scss/foundation/components/_offcanvas.scss",
        "assets/bower/foundation/scss/foundation/components/_visibility.scss",
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_accordion.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_alert-boxes.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_block-grid.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_breadcrumbs.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_button-groups.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_buttons.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_clearing.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_dropdown-buttons.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_dropdown.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_flex-video.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_forms.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_global.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_grid.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_icon-bar.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_inline-lists.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_joyride.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_keystrokes.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_labels.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_magellan.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_offcanvas.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_type.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_orbit.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_pagination.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_panels.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_pricing-tables.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_progress-bars.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_range-slider.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_reveal.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_grid.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_side-nav.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_split-buttons.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_dropdown-buttons.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_sub-nav.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_switches.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_tables.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_tabs.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_grid.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_thumbs.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_tooltips.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_top-bar.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/components/_grid.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_forms.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_type.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/bower/foundation/scss/foundation/components/_visibility.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/components/_global.scss",
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/css/settings.scss",
      "imports": [
        "assets/bower/foundation/scss/foundation/_functions.scss"
      ]
    },
    {
      "path": "assets/css/index.sass",
      "imports": [
        "assets/css/settings.scss",
        "assets/bower/foundation/scss/foundation.scss",
        "assets/bower/owl.carousel/dist/assets/owl.carousel.min.css",
        "assets/bower/owl.carousel/dist/assets/owl.theme.default.min.css",
        "assets/css/ygm.sass",
        "assets/bower/foundation/scss/foundation/_functions.scss",
        "assets/bower/foundation/scss/foundation/components/_grid.scss",
        "assets/bower/foundation/scss/foundation/components/_accordion.scss",
        "assets/bower/foundation/scss/foundation/components/_alert-boxes.scss",
        "assets/bower/foundation/scss/foundation/components/_block-grid.scss",
        "assets/bower/foundation/scss/foundation/components/_breadcrumbs.scss",
        "assets/bower/foundation/scss/foundation/components/_button-groups.scss",
        "assets/bower/foundation/scss/foundation/components/_buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_clearing.scss",
        "assets/bower/foundation/scss/foundation/components/_dropdown.scss",
        "assets/bower/foundation/scss/foundation/components/_dropdown-buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_flex-video.scss",
        "assets/bower/foundation/scss/foundation/components/_forms.scss",
        "assets/bower/foundation/scss/foundation/components/_icon-bar.scss",
        "assets/bower/foundation/scss/foundation/components/_inline-lists.scss",
        "assets/bower/foundation/scss/foundation/components/_joyride.scss",
        "assets/bower/foundation/scss/foundation/components/_keystrokes.scss",
        "assets/bower/foundation/scss/foundation/components/_labels.scss",
        "assets/bower/foundation/scss/foundation/components/_magellan.scss",
        "assets/bower/foundation/scss/foundation/components/_orbit.scss",
        "assets/bower/foundation/scss/foundation/components/_pagination.scss",
        "assets/bower/foundation/scss/foundation/components/_panels.scss",
        "assets/bower/foundation/scss/foundation/components/_pricing-tables.scss",
        "assets/bower/foundation/scss/foundation/components/_progress-bars.scss",
        "assets/bower/foundation/scss/foundation/components/_range-slider.scss",
        "assets/bower/foundation/scss/foundation/components/_reveal.scss",
        "assets/bower/foundation/scss/foundation/components/_side-nav.scss",
        "assets/bower/foundation/scss/foundation/components/_split-buttons.scss",
        "assets/bower/foundation/scss/foundation/components/_sub-nav.scss",
        "assets/bower/foundation/scss/foundation/components/_switches.scss",
        "assets/bower/foundation/scss/foundation/components/_tables.scss",
        "assets/bower/foundation/scss/foundation/components/_tabs.scss",
        "assets/bower/foundation/scss/foundation/components/_thumbs.scss",
        "assets/bower/foundation/scss/foundation/components/_tooltips.scss",
        "assets/bower/foundation/scss/foundation/components/_top-bar.scss",
        "assets/bower/foundation/scss/foundation/components/_type.scss",
        "assets/bower/foundation/scss/foundation/components/_offcanvas.scss",
        "assets/bower/foundation/scss/foundation/components/_visibility.scss",
        "assets/bower/foundation/scss/foundation/components/_global.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/assets/bower"
  ],
  "server": {
    "port": 7888,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}